body {
  display: flex;
  flex-direction: column;
  user-select: none;
  align-items: center;
  justify-content: center;
  background-image: url(img/background1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  font-family: 'chillingsabrina';
  margin: 0;
  overflow: hidden;
}

.canvasFull {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

canvas {
  display: block;
  box-shadow: -5px 10px 6px -2px black;
  border-radius: 5px;
  background-image: url(img/start.png);
  background-size: cover;
  background-position: center center;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.d-none {
  display: none;
}

@font-face {
  font-family: 'chillingsabrina';
  src: url('fonts/chillingsabrina.ttf');
}

@media only screen and (max-width: 720px) {
  .canvasFull {
    width: 100%;
  }

  canvas {
    width: 100%;
  }
}