body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/background1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    user-select: none;
    height: 100vh;
    margin: 0;
    font-family: 'chillingsabrina';
}


canvas {
    display: block;
}

@font-face {
    font-family:'chillingsabrina';
    src: url('fonts/chillingsabrina.ttf');
}

.headline {
    position: relative;
    font-size: 64px;
    font-family: 'Staatliches', sans-serif;
    text-transform: uppercase;
    font-display: swap;
    font-family: 'chillingsabrina';
  }
  
  .headline_row {
    display: block;
  }
  
  .headline_text_move {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
  }
  
  .headline_text {
    display: block;
    transform-origin: bottom left;
    animation: moveIn 2s 0s cubic-bezier(.36,0,.06,1) alternate infinite ;
  }
  
  @keyframes moveIn {
    50%, 100% { 
      transform: translateY(0em)
    }
    0%   { 
    opacity: 0; 
    filter: blur(10px);
    
    }
    100% { 
    opacity: 1; 
    filter: blur(0px);
    }
  }
  
  
  